{% extends 'base.html' %}
{% block content %}

<h1>Drink Details</h1>


{% if drink %}
<h1>Edit <span class="teal-text">{{ drink.name }}</span></h1>
{% else %}
<h1>Add Drink</h1>
{% endif %}

<div class="row">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <span class="card-title">{{ drink.name }}</span>
                <p>Drink ID: {{ drink.id }}</p>
                <p>Drink Name: {{ drink.name }}</p>
                <p>Drink Brand: {{ drink.brand }}</p>
                <p>Drink Size: {{ drink.size }} mL</p>
            </div>
            <div class="card-action">
                <a href="/drinks/{{ drink.id }}/edit/">Edit</a>
                <a href="/drinks/{{ drink.id }}/delete/">Delete</a>
            </div>
        </div>
    </div>
    <div class="col s6">
        <form action="/drinks/{{ drink.id }}/add_pouring/" method="post">
            {% csrf_token %}
            {{ pouring_form.as_p }}
            <input type="submit" class="btn" value="Add Pouring">
        </form>
        <table class="striped">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Pour</th>
                </tr>
            </thead>
            <tbody>
                {% for pouring in drink.pouring_set.all %}
                <tr>
                    <td>{{pouring.date}}</td>
                    <td>{{pouring.pour}} mL</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
<hr>
<div class="row">
    <div class="col s6">
        <h3>All drinkers for {{ drink.name }}</h3>
        {% if drink.drinker.count %}
        {% for drinker in drink.drinker.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    {{ drinker.name }}
                </span>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5>No drinkers</h5>
        {% endif %}
    </div>
    <!-- Available toys will come after this line -->
    <div class="col s6">
        <h3>Available Drinkers</h3>
        {% if drinker.count %}
        {% for drinker in drinker.all %}
        <div class="card">
            <div class="card-content">
                <span class="card-title">
                    {{ drinker.name }}
                </span>
            </div>
            <div class="card-action">
                <form action="{% url 'assoc_drinker' drink.id drinker.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="btn">Add</button>
                </form>
            </div>
        </div>
        {% endfor %}
        {% else %}
        <h5>{{drink.name}} Already Has All Drinkers Available</h5>
        {% endif %}
    </div>
</div>
<script>
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
        format: 'yyyy-mm-dd',
        defaultDate: new Date(),
        setDefaultDate: true,
        autoClose: true
    });
</script>
{% endblock %}